<carousel>
    <slide>
        <img src="assets/images/slider.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slider2.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slider3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>E-Ticaret Sitemize Hoşgeldiniz</h1>
    </div>
</section>