.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: red;
    color: white;
    text-align: center;
    top: -10px;
    right: 30px;
}

a {
    text-decoration:none ;
    color: #343a40;
  
}

a.active {
    color: orange;
}

.logo{
    cursor: pointer;
}

.logo:focus{
    outline: none;
}